# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
/node_modules
# installed platform-specific binaries
/bin
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
venv/
env/
