/channel-artifacts/*.tx
/addPeers/channel-artifacts/*.tx
/channel-artifacts/*.block
/addPeers/channel-artifacts/*.block
/crypto-config/*
/addPeers/crypto-config/*
/ledgers
/addPeers/ledgers
/ledgers-backup
/addPeers/ledgers-backup
/channel-artifacts/*.json
/addPeers/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
/connection-*.*
/addPeers/connection-*.*



/addPeers5/ledgers
/addPeers5/channel-artifacts/*.block
/addPeers5/crypto-config/*
/addPeers5/channel-artifacts/*.tx
/addPeers5/ledgers-backup
/addPeers5/channel-artifacts/*.json
/addPeers5/connection-*.*